mixin threadPreview(post)
    .threadPreview
        a(href="threads/" + post.id title=new Date(post.createdAt).toLocaleString())
            if post.files && post.files[0]
                - let file = post.files[0]
                    if file.thumbFilename               
                        img(src=`${files}/${file.thumbFilename}`).thumbnail
                    else
                        a(href=`${files}/${file.filename}`).fileLink !{file.originalName}
            div.threadInfo
                if post.locked
                    span(title="Thread cannot be replied to anymore").locked Locked
                if post.sticky
                    span(title="Thread stays on top and will not be pruned").sticky Sticky
            span.name !{post.name}
            span.date !{new Date(post.createdAt).toLocaleString()}
            span.subject !{post.subject}
            p.content !{post.content}