mixin post(post)
    .post
        .postInfo
            a.postId(name=post.id href="#" + post.id)
                span.id no.#{post.id}
            span.name !{post.name}
            if post.subject
                span.subject !{post.subject}
            span(titl=post.date).date #{new Date(post.date).toLocaleString()}
        if post.files.length > 0
            .files
                for file in post.files
                    .fileInfo
                        a(href=`/files/${file.fileId}.${file.extension}`) #{file.originalName} 
                            span.extra (#{file.mimetype}) #{(file.size/ 1000).toFixed(1)}KB
                    a(href=`/files/${file.fileId}.${file.extension}`).file
                        if file.thumbSuffix               
                            img(src=`/files/${file.fileId}${file.thumbSuffix}.jpg`).thumbnail
                        else
                            span #{file.originalName}
        .content
            p !{post.content}