mixin threadPreview(post)
    .threadPreview
        a(href="threads/" + post.id)
            each file in post.files 
                if file.thumbSuffix               
                    img(src=`/files/${file.fileId}${file.thumbSuffix}.jpg`).thumbnail
                else
                    a(href=`/files/${file.fileId}.${file.extension}`).fileLink #{file.originalName}
            if post.subject
                .subject !{post.subject}
        .content !{post.content}