extends layout.pug
include partials/boardInfo.pug
include partials/post.pug
include partials/postForm.pug
block head
    link(rel="stylesheet" href="/css/postForm.css")
    link(rel="stylesheet" href="/css/thread.css")
    title /#{board.url}/ - #{op.subject || ""} - #{webname}
block content
    .title
        h1
            a(href=`/boards/${board.url}/`) /#{board.url}/ - #{board.title}
        h3 !{op.subject}
    +postForm("Submit reply")
    +boardInfo(replies ? replies.length : 0)
    .thread
        #op
            +post(op)
        .replies
            if replies     
                each reply in replies
                    +post(reply)
                        p #{reply.id}