mixin post(post)
    .post
        .postInfo
            a.postId(name=post.id href="#" + post.id)
                span.id no.#{post.id}
            span.name !{post.name}
            if post.subject
                span.subject !{post.subject}
            span(title=post.date).date #{new Date(post.createdAt).toLocaleString()}
        if post.files.length > 0
            .files
                for file in post.files
                    .fileInfo
                        a(href=`${files}/${file.fileId}.${file.extension}`) #{file.originalName} 
                            span.extra (#{file.mimetype}) #{(file.size/ 1000).toFixed(1)}KB
                    if file.thumbSuffix               
                        a(href=`${files}/${file.fileId}.${file.extension}`).file
                            img(src=`${files}/${file.fileId}${file.thumbSuffix}.jpg`).thumbnail
        .content
            p !{post.content}