mixin boardInfo(threadsCount, replyCount)
    hr
    .boardInfo
        if board.sfw
            span.item(title="You may only post safe-for-work content") SFW Board
        else
            span.item(title="This board allows NSFW content")
                span.errored 18+ 
                span NSFW Board
        span.item(title="Threads after this limit will knock the oldest bumped thread off the board.") Max threads: #{board.maxThreads}
        span.item(title="After threads reach this many replies, further replies will no longer bump the thread.") Bump limit: #{board.bumpLimit}
        span.item(title="Time you must wait between posts") Cooldown: #{board.cooldown} seconds
        if replies
            span.item(class= replies.length > board.bumpLimit ? "errored" : null) Replies: #{replies.length}
        else if threads
            span.item(class= threads.length > board.maxThreads ? "errored" : null) Threads: #{threads.length}
        span.refresh Refresh thread
    hr