extends layout.pug
include partials/boardInfo.pug
include partials/post.pug
include partials/postForm.pug
block head
    link(rel="stylesheet" href="/css/postForm.css")
    link(rel="stylesheet" href="/css/thread.css")
    title /#{board.url}/ - #{thread.op.subject || ""} - #{webname}
block content
    .title
        h1
            a(href=`/boards/${board.url}/`) /#{board.url}/ - #{board.title}
        h3.fancy !{thread.op.subject}
    +postForm
    +boardInfo
    .thread
        #op
            +post(thread.op)
        .replies        
            for reply in thread.replies
                +post(reply)
                    p #{reply.id}