mixin threadPreview(post)
    .threadPreview
        a(href="threads/" + post.id title=new Date(post.createdAt).toLocaleString())
            if post.files && post.files[0]
                - let file = post.files[0]
                    if file.thumbFilename               
                        img(src=`${files}/${file.thumbFilename}`).thumbnail
                    else
                        a(href=`${files}/${file.filename}`).fileLink !{file.originalName}
            if post.subject
                span.subject !{post.subject}
            p.content !{post.content}