extends layout.pug
include partials/threadPreview.pug
include partials/boardInfo.pug
include partials/postForm.pug

block head
    link(rel="stylesheet" href="/css/catalog.css")
    link(rel="stylesheet" href="/css/postForm.css")
    title /#{board.url}/ - #{board.title} - #{webname}
block content
    .title
        a(href=`/boards/${board.url}`)
            h1 /#{board.url}/ - #{board.title}
        h3 #{board.about}
    +postForm(board.url)
    +boardInfo(threads ? threads.length : 0, null)
    .threads
        if threads
            each thread in threads
                +threadPreview(thread)
        else
            h3 No threads yet